.trainingWrapper{
    margin-top: 56px;
    margin-bottom: 30px;
}

.trainingInner{
    margin-top: 76px;
}

@media (max-width: 600px) {
    .trainingWrapper{
        margin: 50px 0px;
    }
    
    .trainingInner{
        margin-top: 36px;
    }
}