.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border-radius: 1.5rem;
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 520px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.testimonialCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.82), transparent);
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 1;
  border-radius: 1.5rem;
}

.testimonialCard:hover {
  transform: translateY(-4px);
}
.logoImg{
    width: 80px;
    height: 80px;
}
.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}

.clientImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: top;
}


.playButton {
    background-color: #ffff;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease,
        background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 120, 120, 0.35);
}

.playButton:hover {
  transform: translate(-50%, -50%) scale(1.1);
   box-shadow: 0 6px 18px rgba(255, 100, 100, 0.45);
}

.nameContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.72);
  color: #ffffff;
  width: 90%;
  border-radius: 10px;
  padding: 0.75rem;
  box-sizing: border-box;
}
.nameContainer h5 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 600;
}

.imageContainer h6 {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
  color: #42474d;
}

.textContainer {
  padding: 0 0.5rem;
}

.textContainer p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #000;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .imageContainer {
    max-width: 340px;
    width: 100%;
    height: 100%;
  }
  .playButton {
    width: 68px;
    height: 68px;
  }
}
@media (max-width:992px){
    .testimonialCard{
        max-width: unset;
    }
      .imageContainer {
    max-width: unset;
  }
    .playButton {
    width: 68px;
    height: 68px;
  }
}
@media (max-width: 768px) {
  /* .testimonialCard {
    max-width: 450px;
  } */
  .imageContainer {
    height: 100%;
  }
  .playButton {
    width: 67px;
    height: 67px;
  }
  .nameContainer h5 {
    font-size: 1rem;
  }
}

@media (max-width:576px){
    .testimonialCard{
    height: 540px;
  }
    .playButton {
    width: 67px;
    height: 67px;
  }
}

@media (max-width:420px){
  .testimonialCard{
    height: 470px;
  }
    .playButton {
    width: 65px;
    height: 65px;
  }
}