
.imgbox{
    padding: 0px 10px;
}
.session{
    width: 100%;
    height: 320px !important;
    object-fit: cover;
}

@media (width < 1200px) {
    .session{
     height: 300px !important;
    }

}

@media ( width < 992px) {
    .session{
        height: 260px !important;
       }
  
}


@media ( width < 768px) {
    .session{
        height: 220px !important;
       }
 
}

@media ( width < 576px) {

    .session{
        height: 130px !important;
    
       }
       .imgbox{
        padding: 0px 5px;
    }
}